.icon-mixin {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-top: 3px;
  filter: var(--fil_main);
}

.select-user-icon-tag {
  .icon-mixin;

  background: url(./tag.svg) no-repeat;
}

.select-user-icon-tag-group {
  .icon-mixin;

  background: url(./tag-group.svg) no-repeat;
}

.select-user-icon-user {
  .icon-mixin;

  background: url(./user.svg) no-repeat;
}

.select-user-icon-org {
  .icon-mixin;

  background: url(./org.svg) no-repeat;
}

.select-user-icon-group {
  .icon-mixin;

  background: url(./group.svg) no-repeat;
}

.select-user-icon-dept {
  .icon-mixin;

  background: url(./dept.svg) no-repeat;
}
.select-user-icon-equipment {
  .icon-mixin;

  background: url(./equment.svg) no-repeat;
}
.select-user-icon-root {
  .icon-mixin;

  background: url(./root.svg) no-repeat;
}
.select-user-icon-orgRel-mobile {
  .icon-mixin;

  background: url(./root.svg) no-repeat;
}
