.cf-select-user-tree {
  border: 1px solid red;
  font-size: 14px;
  .radio {
    .ant-tree-checkbox-inner {
      border-radius: 50%;
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
      background: #fff;
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner::after {
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #1890ff;
      border: 0;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      content: ' ';
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner:hover {
      border: 0px;
    }
  }
}
