.cf-select-user-tree {
  font-size: 14px;
  .radio {
    .ant-tree-checkbox-inner {
      border-radius: 50%;
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
      background: #fff;
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner::after {
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #1890ff;
      border: 0;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      content: ' ';
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner:hover {
      border: 0px;
    }
  }
}
.no-data-result-empty {
  padding-top: 15%;
}
.more-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #999999;
  padding: 16px;
  position: relative;
  margin-top: 4px;
  &::after {
    content: ' ';
    position: absolute;
    display: block;
    box-sizing: border-box;
    z-index: 1;
    top: 0;
    right: 16px;
    left: 16px;
    bottom: 0;
    // width: 100%;
    height: 1px;
    border-bottom: 1px solid #dfdfdf;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
    width: 94%;
  }
}
