.selected-mobile-model {
  .search-result-wrap {
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    .search-result-tab {
      height: 100%;
      overflow-y: scroll;
      .ant-tabs-content-holder {
        overflow: auto;
      }
    }

    .am-tabs {
      .am-tabs-default-bar-tab-active {
        color: #1786ec;
      }
    }

    .search-result-tips {
      color: #9d9da1;
      display: inline-block;
      background-color: #edeff1;
      font-size: 13px;
      padding: 10px;

      .search-result-tips-icon {
        color: rgba(23, 133, 236, 1);
      }
    }

    .search-result-mobile-box {
      // padding: 0 8px;
      // height: 330px;
      overflow: auto;
      background: #f7f7f7;
      height: 100%;

      .search-result-group-title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #ececec;
      }

      .search-result-group-item {
        // display: flex;
        // justify-content: space-between;
        // // padding: 4px;
        // box-sizing: border-box;
        // // margin: 8px 0;
        // position: relative;
        // right: 0;
        // background-color: #fff;
        display: flex;
        align-items: center;
        min-height: 54px;

        .select-user-icon-user {
          margin-top: 3px;
          margin-right: 6px;
          flex-shrink: 0;
        }

        .select-user-icon-dept {
          margin-top: 3px;
          margin-right: 6px;
          flex-shrink: 0;
        }

        .select-user-icon-org {
          margin-top: 3px;
          margin-right: 6px;
          flex-shrink: 0;
        }

        .select-user-icon-tag {
          margin-top: 3px;
          margin-right: 6px;
          flex-shrink: 0;
        }

        .search-result-item {
          display: flex;
          align-items: center;
          width: 100%;
        }

        .search-result-item-detail {
          display: inline-block;
          width: 87%;
          &.userList {
            width: 70%;
          }

          .search-result-item-title {
            font-size: 16px;
            // width: 200px;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .search-result-item-des {
            font-size: 12px;
            white-space: nowrap;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #777;
          }
        }

        .checkbox-wrap {
          padding-right: 12px;
          height: 42px;
          line-height: 42px;
        }
      }
    }
  }
}

.mobile-tree-result-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  background: #f7f7f7;
  flex-direction: column;
  align-items: center;
  .empty-img {
    background: url('./empty_02.svg') no-repeat;
    width: 128px;
    height: 128px;
    background-size: contain;
  }

  .text {
    color: #999;
    font-size: 12px;
  }
}

.search-result-mobile-box .tree-footer {
  margin-left: 15px;
  padding: 9px 0;
  white-space: break-spaces;
  color: #959595;
  font-size: 12px;
}
